---
import Layout from "../layouts/Layout.astro";
---

<Layout title='Polifroni Aberturas - Quienes Somos'>
  <section>
    <h1>Quienes Somos</h1>
    <p>
      Polifroni Aberturas es una empresa de aberturas y construcciones con sede
      en Tandil, Argentina. Nuestra misión es brindar una experiencia de usuario
      excepcional a nuestros clientes, brindando soluciones de aberturas y
      construcciones de alta calidad para satisfacer sus necesidades y
      expectativas.
    </p>
  </section>
</Layout>
