---
import WindowImage from "../assets/images/products-window.png";
---

<section class='md:flex md:flex-row-reverse md:items-center'>
  <div class='image-container-3'>
    <img src={WindowImage.src} alt='Imagen puerta de interior' loading='lazy' />
  </div>
  <div class='desc-container-3 my-8 px-5'>
    <h1 class='text-2xl'>Ventanas</h1>
    <p class='mt-2 mb-6'>
      ¡Descubre la elegancia, confort y eficiencia en cada ventana de tu hogar!
      Te ofrecemos una amplia variedad de ventanas diseñadas para combinar a la
      perfección funcionalidad y estética, brindándote soluciones ideales para
      cualquier estilo y necesidad. Nuestras ventanas están fabricadas con
      materiales de alta calidad y cuentan con diseños innovadores que se
      adaptan a tus gustos y preferencias, creando espacios luminosos y
      acogedores en tu hogar.
    </p>
    <a
      href='/productos/ventanas'
      class='text-[#862e44] font-bold hover:underline border border-[#862e44] py-2 px-4'
    >
      Ver más
    </a>
  </div>
</section>

<style>
  .image-container-3 {
    width: 100%;
    height: auto;
    max-height: 700px;
    overflow: hidden;
  }

  .image-container-3 img {
    width: 100%;
    max-height: 700px;
    display: block;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  .desc-container-3 {
    opacity: 0;
  }

  @media screen and (min-width: 768px) {
    .image-container-3 {
      width: 50%;
    }

    .desc-container-3 {
      width: 50%;
    }
  }
</style>

<script>
  document.addEventListener("scroll", () => {
    const imageContainer = document.querySelector(".image-container-3");
    const image = imageContainer.querySelector("img");
    const scrollPosition = window.scrollY;

    const imageOffset = scrollPosition * 0.05;

    image.style.transform = `translateY(${imageOffset}px)`;
  });

  const descContainer = document.querySelector(".desc-container-3");

  const description3Observer = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        descContainer.classList.add("animate-fade-in-down");
        observer.unobserve(descContainer);
      }
    });
  });

  description3Observer.observe(descContainer);
</script>
