---
import GateImage from "../assets/images/products-gate.png";

interface Props {
  redirect: boolean;
}

const { redirect } = Astro.props;
---

<section class='md:flex md:items-center'>
  <div class='image-container-4'>
    <img src={GateImage.src} alt='Imagen puerta de exterior' loading='lazy' />
  </div>
  <div class='desc-container-4 my-8 px-5 md:text-end'>
    <h1 class='text-2xl'>Portones</h1>
    <p class='mt-2 mb-6'>
      ¡Descubre la elegancia, seguridad y tecnología en cada acceso a tu hogar!
      Te ofrecemos una selección excepcional de portones diseñados para realzar
      la belleza arquitectónica de tu propiedad y garantizar la máxima seguridad
      y comodidad gracias a la incorporación de la última tecnología. Te
      invitamos a explorar más allá y descubrir las diferentes opciones
      disponibles, desde diseños clásicos hasta contemporáneos, con una amplia
      variedad de materiales y acabados que se adaptan a tus gustos y
      preferencias.
    </p>
    {
      redirect && (
        <a
          href='/productos/puertas-exterior'
          class='text-[#862e44] font-bold hover:underline border border-[#862e44] py-2 px-4'
        >
          Ver más
        </a>
      )
    }
  </div>
</section>

<style>
  .image-container-4 {
    width: 100%;
    height: auto;
    max-height: 700px;
    overflow: hidden;
  }

  .image-container-4 img {
    width: 100%;
    max-height: 700px;
    display: block;
    object-fit: cover;
    transition: transform 0.5s ease;
  }

  .desc-container-4 {
    opacity: 0;
  }

  @media screen and (min-width: 768px) {
    .image-container-4 {
      width: 50%;
    }

    .desc-container-4 {
      width: 50%;
    }
  }
</style>

<script>
  document.addEventListener("scroll", () => {
    const imageContainer = document.querySelector(".image-container-4");
    const image = imageContainer.querySelector("img");
    const scrollPosition = window.scrollY;

    const imageOffset = scrollPosition * 0.03;

    image.style.transform = `translateY(${imageOffset}px)`;
  });

  const descContainer = document.querySelector(".desc-container-4");

  const description4Observer = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        descContainer.classList.add("animate-fade-in-down");
        observer.unobserve(descContainer);
      }
    });
  });

  description4Observer.observe(descContainer);
</script>
