---
import pvcDoorsPdf from "./pdf/pvc-doors-catalog.pdf";
import pvcWindowsPdf from "./pdf/pvc-windows-catalog.pdf";
import pvcCurtainsPdf from "./pdf/pvc-curtains-catalog.pdf";
---

<section
  class='py-7 h-auto flex flex-col gap-7 bg-black/80 lg:flex-row flex-wrap justify-center lg:px-4'
>
  <div class='md:flex-1 md:min-w-[600px]'>
    <h3>Puertas plegadizas</h3>
    <iframe src={pvcDoorsPdf + "#toolbar=0"} width='100%'></iframe>
  </div>
  <div class='md:flex-1 md:min-w-[600px]'>
    <h3>Ventanas</h3>

    <iframe src={pvcWindowsPdf + "#toolbar=0"} width='100%'></iframe>
  </div>
  <div class='md:flex-1 md:min-w-[600px]'>
    <h3>Cortinas</h3>
    <iframe src={pvcCurtainsPdf + "#toolbar=0"} width='100%'></iframe>
  </div>
</section>
<p class='pb-7 text-center bg-black/80 text-white font-bold text-lg'>
  Tu consulta no molesta
</p>

<style>
  h3 {
    text-align: center;
    color: whitesmoke;
    font-size: 1.1rem;
    font-weight: 600;
    padding-bottom: 1.75rem;
  }

  @media screen and (min-width: 1024px) {
    h3 {
      font-size: 1.3rem;
    }
  }

  iframe {
    height: 80vh;
  }
</style>

<script>
  const subtitles = document.querySelectorAll("h3");

  const subtitlesObserver = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("animate-fade-in-down");

        observer.unobserve(entry.target);
      }
    });
  });

  subtitles.forEach((subtitle) => {
    subtitlesObserver.observe(subtitle);
  });
</script>
