---
import logo from "../assets/logos/logo.webp";
---

<div class='w-[100%] h-[85.5px]'></div>
<nav
  id='nav'
  class='nav flex justify-between items-center py-3 px-2 md:px-6 border-b-2'
>
  <img
    src={logo.src}
    loading='lazy'
    width={170}
    class='logo'
    alt='Descripción de mi imagen'
  />
  <div class='menu sm:flex sm:gap-5'>
    <a href='/' class='a-text home font-semibold sm:text-lg'>Inicio</a>
    <a href='/productos' class='a-text products font-semibold sm:text-lg'
      >Productos</a
    >
    <a href='/quienes-somos' class='a-text who-we-are font-semibold sm:text-lg'
      >Quiénes somos</a
    >
    <a
      href='https://maps.app.goo.gl/N2FWi27DiYGDD8sh9'
      target='_blank'
      class='a-text font-semibold flex items-center gap-1 sm:text-lg'
      ><svg
        xmlns='http://www.w3.org/2000/svg'
        width='16'
        height='16'
        viewBox='0 0 24 24'
        fill='none'
        stroke='currentColor'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='icon icon-tabler icons-tabler-outline icon-tabler-map-pin'
        ><path stroke='none' d='M0 0h24v24H0z' fill='none'></path><path
          d='M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0'></path><path
          d='M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z'
        ></path></svg
      >Ubicación</a
    >
    <a
      href='https://api.whatsapp.com/send/?phone=542494535460'
      target='_blank'
      class='a-text font-semibold flex items-center gap-1 sm:text-lg'
    >
      <svg
        xmlns='http://www.w3.org/2000/svg'
        width='16'
        height='16'
        viewBox='0 0 24 24'
        fill='none'
        stroke='green'
        stroke-width='2'
        stroke-linecap='round'
        stroke-linejoin='round'
        class='icon icon-tabler icons-tabler-outline icon-tabler-brand-whatsapp'
      >
        <path stroke='none' d='M0 0h24v24H0z' fill='none'></path>
        <path d='M3 21l1.65 -3.8a9 9 0 1 1 3.4 2.9l-5.05 .9'></path>
        <path
          d='M9 10a.5 .5 0 0 0 1 0v-1a.5 .5 0 0 0 -1 0v1a5 5 0 0 0 5 5h1a.5 .5 0 0 0 0 -1h-1a.5 .5 0 0 0 0 1'
        ></path>
      </svg> Contacto
    </a>
  </div>
  <button class='menu-button hidden p-2 text-gray-700 rounded-md'>
    <svg
      class='menu-icon w-6 h-6'
      fill='none'
      stroke='currentColor'
      viewBox='0 0 24 24'
      xmlns='http://www.w3.org/2000/svg'
    >
      <path
        stroke-linecap='round'
        stroke-linejoin='round'
        stroke-width='2'
        d='M4 6h16M4 12h16M4 18h16'></path>
    </svg>
  </button>
</nav>

<style>
  .nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    background-color: white;
    transition: top 0.3s ease-in-out;
  }

  .a-text {
    font-size: 1rem;
    color: #373536;
    user-select: none;
    transition: color 0.3s ease-in-out;
  }

  .a-text:hover {
    color: #862e44f1;
  }

  .a-text.active {
    color: #862e44;
    cursor: default;
  }

  @media screen and (max-width: 720px) {
    .menu {
      position: absolute;
      left: 0;
      top: 84px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 100%;
      height: 0px;
      background-color: #fff;
      border: 1px solid #ccc;
      overflow: hidden;
      transition: height 0.3s ease-in-out;
      z-index: 100;
    }

    .menu-button {
      display: block;
    }

    .menu-button .menu-icon {
      transition: transform 0.3s ease;
      color: #373536;
    }

    .menu-button.expanded .menu-icon {
      transform: rotate(45deg);
      translate: 5px 0;
    }

    .menu-button.expanded .menu-icon path:nth-child(1) {
      transform: translateY(1px) translateX(5px) rotate(45deg);
    }

    .menu .a-text {
      font-size: 1rem;
      width: 100%;
      padding: 3px 35px;
    }

    .menu .a-text:nth-child(1) {
      padding: 20px 35px 3px;
    }

    .menu .a-text:nth-last-child(1) {
      padding: 3px 35px 20px;
    }

    .menu.expanded {
      height: 286px;
    }

    @media screen and (max-width: 639px) {
      .menu.expanded {
        height: 186px;
      }
    }
  }
</style>

<script>
  const header = document.getElementById("nav");
  const menuButton = document.querySelector(".menu-button");
  const menu = document.querySelector(".menu");
  const home = document.querySelector(".home");
  const products = document.querySelector(".products");
  const whoWeAre = document.querySelector(".who-we-are");
  const contact = document.querySelector(".contact");
  let lastScrollTop = 0;

  window.addEventListener("scroll", function () {
    let path = window.location.pathname;
    let scrollTop = window.scrollY || document.documentElement.scrollTop;

    if (path.includes("quienes-somos")) {
      return;
    } else if (scrollTop > 85.5 && scrollTop > lastScrollTop) {
      header.style.top = "-85.5px";
      if (
        menu.classList.contains("expanded") &&
        menuButton.classList.contains("expanded")
      ) {
        menu.classList.remove("expanded");
        menuButton.classList.remove("expanded");
      }
    } else {
      header.style.top = "0";
    }
    lastScrollTop = scrollTop;
  });

  let location = window.location.pathname;

  if (location === "/") {
    home.classList.add("active");
  } else if (location.includes("productos") || location === "/productos") {
    products.classList.add("active");
  } else if (location === "/quienes-somos") {
    whoWeAre.classList.add("active");
  } else if (location === "/contacto") {
    contact.classList.add("active");
  }

  menuButton.addEventListener("click", () => {
    menu.classList.toggle("expanded");
    menuButton.classList.toggle("expanded");
  });
</script>
