<div class='my-10 lg:my-14 m-auto overflow-hidden'>
  <h1 class='welcome-text mb-3 text-xl text-[#862e44] text-center lg:text-2xl'>
    Bienvenido a Polifroni Puertas S.R.L.
  </h1>
  <p class='description-text text-sm text-gray-700 text-center lg:text-base'>
    Una marca que sintetiza calidad y confianza.
  </p>
</div>

<script>
  const welcomeText = document.querySelector(".welcome-text");
  const descriptionText = document.querySelector(".description-text");

  const welcomeObserver = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        welcomeText.classList.add("animate-slide-in-left");
        observer.unobserve(welcomeText);
      }
    });
  });

  const descriptionObserver = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        descriptionText.classList.add("animate-slide-in-right");
        observer.unobserve(descriptionText);
      }
    });
  });

  welcomeObserver.observe(welcomeText);
  descriptionObserver.observe(descriptionText);
</script>
