<div class='my-10 w-[97%] m-auto'>
  <h1
    class='mb-3 text-xl text-[#862e44] text-center lg:text-2xl animate-slide-in-left'
  >
    Bienvenido a Polifroni Puertas S.R.L.
  </h1>
  <p
    class='text-sm text-gray-700 text-center lg:text-base animate-slide-in-right'
  >
    Una marca que sintetiza calidad y confianza.
  </p>
</div>
