---
import StatExcelencia from "../assets/images/stat-excelencia.png";
import StatSells from "../assets/images/stat-sells.png";
---

<script>
  function updateNumber() {
    const sellsAmount = document.querySelector(".sells-amount");
    const sellsAmountText = document.querySelector(".sells-amount-text");
    const yearsExperience = document.querySelector(".years-experience");
    const yearsExperienceText = document.querySelector(
      ".years-experience-text"
    );
    const targetNumber = 100;
    const years = 50;
    let currentNumberA = 0;
    let currentNumberB = 0;

    const amountObserver = new IntersectionObserver((entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const interval = setInterval(() => {
            currentNumberA++;
            sellsAmount.textContent = `+${currentNumberA.toString()}`;
            sellsAmount.classList.add("animate-fade-in-left");
            sellsAmountText.classList.add("animate-fade-in-right");

            if (currentNumberA === targetNumber) {
              clearInterval(interval);
            }
          }, 20);

          observer.unobserve(sellsAmount);
        }
      });
    });

    const experienceObserver = new IntersectionObserver((entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          const interval = setInterval(() => {
            currentNumberB++;
            yearsExperience.textContent = `+${currentNumberA.toString()}`;
            yearsExperience.classList.add("animate-fade-in-left");
            yearsExperienceText.classList.add("animate-fade-in-right");

            if (currentNumberA === years) {
              clearInterval(interval);
            }
          }, 20);

          observer.unobserve(yearsExperience);
        }
      });
    });

    amountObserver.observe(sellsAmount);
    experienceObserver.observe(yearsExperience);
  }

  function animateText() {
    const excelenceText = document.querySelector(".excelence-text");

    const textObserver = new IntersectionObserver((entries, observer) => {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          excelenceText.classList.add("animate-fade-in-down");
          observer.unobserve(excelenceText);
        }
      });
    });

    textObserver.observe(excelenceText);
  }

  document.addEventListener("DOMContentLoaded", () => {
    updateNumber();
    animateText();
  });
</script>

<section class='flex flex-col gap-20 mb-14 sm:gap-0'>
  <div
    class='flex flex-col gap-3 justify-center items-center sm:gap-0 sm:flex-row'
  >
    <div class='p-4 w-[80%] sm:w-[50%] lg:p-20'>
      <p
        class='excelence-text text-[1rem] lg:text-[1.3rem] text-gray-600 text-center'
      >
        "Aberturas de excelencia, donde la calidad y el detalle se encuentran en
        cada diseño, haciendo de tu hogar un espacio único y distinguido."
      </p>
    </div>
    <img
      src={StatExcelencia.src}
      alt='Excelencia'
      loading='lazy'
      class='stat-image w-[100%] object-cover sm:w-[50%] aspect-video'
    />
  </div>
  <div class='flex flex-col justify-between items-center sm:gap-0 sm:flex-row'>
    <img
      src={StatSells.src}
      alt='Excelencia'
      loading='lazy'
      class='stat-image w-[100%] object-cover sm:w-[50%] aspect-video'
    />
    <div
      class='stats-container w-[80%] sm:w-[50%] xl:w-[35%] xl:m-auto pt-4 sm:p-4 lg:px-20'
    >
      <div>
        <p
          class='sells-amount text-[3rem] text-[#862e44] font-bold text-end lg:text-[4rem] mb-[-1rem]'
        >
        </p>
        <p
          class='sells-amount-text text-[1rem] text-gray-600 text-end lg:text-[1.3rem]'
        >
          trabajos completados en 2023
        </p>
      </div>
      <div>
        <p
          class='years-experience text-[3rem] text-[#862e44] font-bold text-left lg:text-[4rem] mb-[-1rem]'
        >
        </p>
        <p
          class='years-experience-text text-[1rem] text-gray-600 text-left lg:text-[1.3rem]'
        >
          años de experiencia en el mercado.
        </p>
      </div>
    </div>
  </div>
</section>

<style>
  .sellsAmount {
    opacity: 0;
  }

  .sellsAmountText {
    opacity: 0;
  }

  .yearsExperience {
    opacity: 0;
  }

  .yearsExperienceText {
    opacity: 0;
  }

  .stats-container {
    transition: all 0.5s ease-in-out;
  }
  .animate-fade-in-left {
    animation: fade-in-left 2s ease-in-out both;
  }

  .animate-fade-in-right {
    animation: fade-in-right 2s ease-in-out both;
  }

  .animate-fade-in-down {
    animation: fade-in-down 1s ease-in-out both;
  }

  .animated {
    transition: transform 0.5s ease-in-out;
  }

  @keyframes fade-in-left {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-right {
    0% {
      opacity: 0;
      transform: translateX(20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }

  @keyframes fade-in-down {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
</style>
