---
import LogoPolifroni from "../assets/logos/logo-polifroni.png";
import LogoSchuco from "../assets/logos/logo-schuco.png";
---

<script>
  const suppliersContainer = document.querySelector(".suppliers-container");

  const suppliersObserver = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        suppliersContainer.classList.add("animate-fade-in-down");

        observer.unobserve(suppliersContainer);
      }
    });
  });

  suppliersObserver.observe(suppliersContainer);
</script>

<section class='mb-14'>
  <h1 class='text-center text-gray-600 text-[1.5rem] font-bold mb-7'>
    Nuestros proveedores
  </h1>
  <div
    class='suppliers-container flex justify-center items-center gap-4 sm:gap-14 flex-wrap'
  >
    <img src={LogoPolifroni.src} alt='Logo 1' class='supplier-image' />
    <a href='https://www.schueco.com/com/' target='_blank'>
      <img
        src={LogoSchuco.src}
        alt='Logo 2'
        class='supplier-image border border-black'
      />
    </a>

    <img src={LogoPolifroni.src} alt='Logo 3' class='supplier-image' />

    <a href='https://www.schueco.com/com/' target='_blank'>
      <img
        src={LogoSchuco.src}
        alt='Logo 2'
        class='supplier-image border border-black'
      />
    </a>
  </div>
</section>

<style>
  .supplier-image {
    cursor: pointer;
    border-radius: 10px;
    transition: all 0.3s ease-in-out;
    width: 130px;
    filter: grayscale(100%);
    opacity: 0.8;
  }

  .supplier-image:hover {
    filter: grayscale(0);
    opacity: 1;
  }
</style>
