---
import MisionIcon from "../assets/images/mision.webp";
---

<section id='mision' class='who-mision w-[100%] md:w-[97%] m-auto'>
  <h4
    class='text-base text-center md:text-lg uppercase bg-[#862e44] text-white p-3 my-8 md:my-20 2xl:text-xl'
  >
    Nuestra misión
  </h4>
  <div
    class='flex justify-around md:flex-row-reverse items-center flex-wrap gap-12 md:gap-6'
  >
    <img
      src={MisionIcon.src}
      alt='Mision icono'
      loading='lazy'
      class='w-[150px] md:w-[250px]'
    />
    <p
      class='w-[100%] text-sm md:w-[75%] md:text-lg lg:text-xl text-[#333333] text-center px-2'
    >
      En POLIFRONI PUERTAS SRL, nos dedicamos a fabricar y ofrecer aberturas de
      calidad, satisfaciendo las necesidades y superando las expectativas de
      nuestros clientes locales y regionales. Con una trayectoria de 50 años,
      nuestro compromiso se centra en brindar productos confiables, servicio
      personalizado y atención integral, manteniendo siempre la excelencia en el
      cumplimiento de nuestros compromisos y en la resolución de
      reclamos post venta.
    </p>
  </div>
</section>

<script>
  const text = document.querySelectorAll(".who-mision p");

  const textObserver = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("animate-fade-in-down");

        observer.unobserve(entry.target);
      }
    });
  });

  text.forEach((text) => {
    textObserver.observe(text);
  });
</script>
