<nav class='navbar' id='nav-who'>
  <ul>
    <li>
      <a href='#vision'>Visión</a>
    </li>
    <li>
      <a href='#mision'>Misión</a>
    </li>
    <li>
      <a href='#valores'>Valores</a>
    </li>
    <li>
      <a href='#historia'>Historia</a>
    </li>
  </ul>
</nav>
<div class='div-whitespace'></div>

<style>
  .navbar {
    width: 100vw;
    overflow-x: hidden;
    position: fixed;
    top: 85.5px;
    background-color: #333;
    padding: 8px;
    transition: top 0.3s ease-in-out;
    z-index: 998;
  }

  .navbar ul {
    display: flex;
    justify-content: center;
    gap: 40px;
    list-style-type: none;
    padding: 0;
  }

  .navbar a {
    user-select: none;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
  }

  .navbar a.active {
    color: #f1f1f1;
  }

  .div-whitespace {
    height: 40px;
  }

  @media screen and (max-width: 768px) {
    .navbar ul {
      gap: 30px;
    }

    .navbar li {
      text-align: center;
    }

    .navbar a {
      font-size: 15px;
    }

    .div-whitespace {
      height: 38.5px;
    }
  }

  @media screen and (max-width: 344px) {
    .div-whitespace {
      height: 64px;
    }
  }
</style>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const navbar = document.querySelector(".navbar") as HTMLElement;
    const links = document.querySelectorAll(".navbar a");
    const sections = document.querySelectorAll("section");

    function updateActiveLink() {
      let current = "";

      sections.forEach((section) => {
        const top = section.getBoundingClientRect().top;
        const bottom = section.getBoundingClientRect().bottom;
        const midPoint = window.innerHeight / 2;

        const isInViewport = top < midPoint && bottom > midPoint;

        if (isInViewport) {
          current = section.getAttribute("id");
        }
      });

      links.forEach((link) => {
        link.classList.remove("active");
        if (link.getAttribute("href").substring(1) === current) {
          link.classList.add("active");
        }
      });
    }

    function scrollToSection(e) {
      e.preventDefault();
      const targetId = e.target.getAttribute("href").substring(1);
      const targetSection = document.getElementById(targetId);
      const navbarHeight = navbar.offsetHeight;
      const scrollTo =
        targetSection.offsetTop -
        (window.innerHeight / 2 - targetSection.offsetHeight / 2) -
        navbarHeight;
      window.scrollTo({
        top: scrollTo,
        behavior: "smooth",
      });
    }

    window.addEventListener("scroll", updateActiveLink);
    window.addEventListener("resize", updateActiveLink);

    links.forEach((link) => {
      link.addEventListener("click", scrollToSection);
    });

    updateActiveLink();
  });
</script>
