<section id='vision' class='who-vision w-[100%] md:w-[97%] m-auto'>
  <h4
    class='text-base text-center md:text-lg uppercase bg-[#862e44] text-white p-3 mb-8 mt-8 2xl:text-xl'
  >
    Nuestra visión
  </h4>
  <p class='text-sm lg:text-lg text-[#333333] text-center px-1'>
    Ser la principal referencia en el mercado de aberturas, reconocida por
    nuestra excelencia en calidad, innovación y servicio al cliente. Buscamos no
    solo satisfacer las necesidades de nuestros clientes, sino también
    anticiparnos a sus expectativas, siendo líderes en la implementación de
    nuevas tecnologías y materiales sostenibles para contribuir al desarrollo
    sostenible de la industria de la construcción.
  </p>
</section>

<script>
  const text = document.querySelectorAll(".who-vision p");

  const textObserver = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("animate-fade-in-down");

        observer.unobserve(entry.target);
      }
    });
  });

  text.forEach((text) => {
    textObserver.observe(text);
  });
</script>
