---
import VisionIcon from "../assets/images/vision.webp";
---

<section id='vision' class='who-vision w-[100%] md:w-[97%] m-auto'>
  <h4
    class='text-base text-center md:text-lg uppercase bg-[#862e44] text-white p-3 my-8 md:my-20 2xl:text-xl'
  >
    Nuestra visión
  </h4>
  <div class='flex justify-around items-center flex-wrap gap-12 md:gap-6'>
    <img
      src={VisionIcon.src}
      alt='Mision icono'
      loading='lazy'
      class='w-[150px] md:w-[250px]'
    />
    <p
      class='w-[100%] text-sm md:w-[75%] md:text-lg lg:text-xl text-[#333333] text-center px-2'
    >
      Nos esforzamos por ser reconocidos como el referente indiscutido en el
      rubro de fabricación y venta de aberturas, manteniendo nuestra posición de
      liderazgo en el mercado local y zonal. Con un enfoque centrado en el
      cliente y en la calidad, aspiramos a expandir nuestra presencia y seguir
      innovando para seguir siendo la primera opción de nuestros clientes en
      términos de confianza, durabilidad y servicio excepcional.
    </p>
  </div>
</section>

<script>
  const text = document.querySelectorAll(".who-vision p");

  const textObserver = new IntersectionObserver((entries, observer) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add("animate-fade-in-down");

        observer.unobserve(entry.target);
      }
    });
  });

  text.forEach((text) => {
    textObserver.observe(text);
  });
</script>
